body{
  font-family: 'Amatic SC', cursive;
  color:whitesmoke;
  background-image: url("night.png"); /* The image used */
  background-color: #76a9ec; /* Used if the image is unavailable */
  background-repeat: repeat; /* Repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
img {
  max-width: 75%;
  height: auto;
}
h2{
  font-family: 'Amatic SC', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-size: x-large;
}
h1{
  text-align: center;
  text-shadow: #f4f4f5;
 font-weight: bolder;
 font-size: x-large;
}
h3{
  text-align: left;
  font-size: large;
  font-style: bold;
  font-size: x-large;
}
h4{
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}
h6{
  font-family: 'Amatic SC', cursive;
  color: whitesmoke;
  text-align: left;
  font-size: medium;
  font-weight: bolder;
  font-size: xx-large;
}
h5{
  text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.card-header{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

